<h3 class="section-title title">Products</h3>
<div class="add-product-wrapper add-wrapper">
  <a href="/products/new" class="add-product-button add-btn">+ Add Product</a>
</div>
<div class="products-grid grid-list">
  <div class="product-list-header list-header">Product</div>
  <div class="product-list-header list-header">Category</div>
  <div class="product-list-header list-header">Price</div>
  <div class="product-list-header list-header">Stock</div>
  <div class="product-list-header list-header">Actions</div>

   <% data.forEach(p => { %>
    <div class="product-list-cell list-cell">
      <%= p.product_name %>
    </div>
    <div class="product-list-cell list-cell">
      <%= p.category_name %>
    </div>
    <div class="product-list-cell list-cell">
      <%= p.price %>
    </div>
    <div class="product-list-cell list-cell">
      <%= p.quantity %>
    </div>
    <div class="product-list-cell list-cell">
      <button class="btn btn-edit" data-id="<%= p.product_id %>" onclick="handleProtectedAction(event, '<%= p.product_id %>', 'edit')">
        Edit
      </button>
      <form id="edit-form-<%= p.product_id %>" action="/products/<%= p.product_id %>" method="GET" style="display: none;">
        <input type="hidden" name="action" value="edit">
        <input type="hidden" name="auth" id="auth-edit-<%= p.product_id %>">
      </form>
      
      <button class="btn btn-delete" onclick="handleProtectedAction(event, '<%= p.product_id %>', 'delete')">
        Delete
      </button>
      <form id="delete-form-<%= p.product_id %>" action="/products/<%= p.product_id %>/delete?_method=DELETE" method="POST" style="display: none;">
        <input type="hidden" name="action" value="delete">
        <input type="hidden" name="auth" id="auth-delete-<%= p.product_id %>">
      </form>
    </div>  
   <% }) %>  
</div>